* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

form input, form label,
form textarea {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 100%; }
form label {
  width: 100%;
  transition: color 1s; }
form label:hover {
  color: grey; }

h3 {
  text-align: center;
  margin: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px; }

.btn-holder {
  margin: 10px auto;
  width: 60%; }

button {
  display: inline-block;
  margin: 50px 20px;
  padding: 5px;
  font-size: 1.2rem; }

button:last-child {
  float: right; }

.error-p {
  text-align: center;
  color: red; }

/*# sourceMappingURL=form.css.map */
