a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black; }

.container {
  margin: 10px auto;
  width: 80%; }

.post-categories {
  margin: 10px 5px 15px 5px; }

strong {
  margin-left: 50px; }

li {
  list-style-type: none;
  clear: both;
  padding: 10px;
  margin: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  transition: background-color, 1s; }

li:hover {
  background-color: #ececec;
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
