.loading-content {
  margin: 50px auto;
  width: 50%;
  font-size: 2rem; }

h6 {
  margin: 20px 0;
  clear: both; }

.delete-post-button {
  float: right; }

/*# sourceMappingURL=postDetails.css.map */
